@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}

.nav-menu {
  width: 100%;
  height: 10rem;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
}

.nav-menu span {
  margin-left: 10rem;
  color: #7e7e7e;
  font-family: "Neuton", serif;
  font-weight: 700;
}

.menu-items {
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-items img {
  cursor: pointer;
}

.card.chatting {
  padding: 0;
}

.card .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.card span.span-desc {
  font-size: 2.5rem;
  color: #cecece;
  opacity: 0.5;
}

.generalInquiries {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card .phone {
  font-size: 2.5rem;
  display: flex;
  margin: 15px 0;
  align-items: center;
}

.main,
.tool-free {
  margin: 5px 0 0 30px;
  display: inline-flex;
  height: 50%;
  font-size: 2.4rem;
}

.main img,
.tool-free img {
  margin-left: 20px;
}

.mail {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin: 15px 0;
}

.generalInquiries.a .mail img:nth-child(1) {
  position: absolute;
  z-index: 1;
  left: 90px;
}

.mail img:nth-child(1) {
  position: absolute;
  z-index: 1;
  left: 60px;
}

.mail img:nth-child(2) {
  position: relative;
  z-index: 0;
}

.mail span {
  margin-left: 30px;
  font-size: 2.4rem;
}

.address {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.address .text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100%;
  opacity: 0.5;
}

.card p::before {
  content: "";
  width: 50%;
  height: 2px;
  margin: 0 5%;
  background-color: #cecece;
}

.card p::after {
  content: "";
  width: 50%;
  height: 2px;
  margin: 0 5%;
  background-color: #cecece;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

.chat img {
  margin: 10px 0;
  cursor: pointer;
}

.card.notify {
  justify-content: start;
}

.notificationHolder {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.notification {
  margin-top: 30px;
}

.notificationName {
  font-size: 2.5rem;
}

.notificationTopic {
  margin-top: 10px;
  opacity: 0.5;
  font-size: 1.7rem;
}

span.span-desc.c {
  margin-top: 200px;
}

.text span {
  font-size: 2.4rem;
}

.a {
  padding: 0 30px;
}

.phone .avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 5px solid #37dc53;
}

.g {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.m {
  justify-content: space-evenly;
}

.chatOpt {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 3.5rem;
  color: #cecece;
}

.act {
  font-size: 2.5rem;
  color: #37dc5369;
}

p.z {
  margin: 40px 0;
}

.chat.g span {
  color: #7e7e7e;
  font-size: 2.2rem;
}

.chatAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #37dc53;
}

.chatHead {
  display: flex;
  box-shadow: 0 0 2px black, 0 0 4px black;
  border-top-left-radius: 30px;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  align-items: center;
}

.chatAccInfo {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chatHead span {
  font-size: 2.5rem;
  font-family: "Roboto-Medium";
}

.chatHead .circle {
  width: 15px;
  height: 15px;
  background: #05b838;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  margin-left: 90px;
  font-size: 1.5rem;
  color: #7e7e7e;
  font-family: "Roboto";
  font-weight: 400;
}

.chatBody {
  width: 100%;
  height: calc(100vh - 20rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 30px;
}

.chatSend {
  width: 100%;
  height: 10rem;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 2px black, 0 0 4px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chatSend span {
  width: 60%;
  font-size: 2.5rem;
  color: #cecece;
  opacity: 0.5;
}

.chatButtons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.chatButtons img {
  margin: 0 10px;
}

.chatOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.chatOptions img {
  cursor: pointer;
}

.icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #37dc53;
}

.chatMessage {
  display: flex;
  margin: 20px 0;
  align-items: flex-end;
}

.chatMessage:nth-child(1) {
  flex-direction: row-reverse;
}

.message.sender {
  height: 60px;
  background-color: #37dc53;
  padding: 0 20px;
  font-size: 2.5rem;
  color: #ffffff;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  flex-wrap: wrap;
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message.receiver {
  height: 60px;
  background-color: #7e7e7e;
  padding: 0 20px;
  font-size: 2.5rem;
  color: #ffffff;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  flex-wrap: wrap;
  margin-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.receiver {
  border: 2px solid #7e7e7e;
}

.card.gr {
  width: 120rem;
  border-radius: 0;
  right: 0;
  width: 60%;
}

.chatHead.gr,
.chatSend.gr {
  border-radius: 0;
}

.card.notify.fr {
  border-radius: 0;
  padding: 8rem 5rem 5.5rem;
}

.chatAccInfo.acc {
  width: 30%;
}

.uProfile {
  justify-content: flex-end;
}

.uProfile img {
  margin-left: 20px;
}

.profile {
  font-size: 2.5rem;
  display: flex;
  margin: 15px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.up {
  margin: 10px 0;
}

.tool-free.up .act {
  color: #cecece;
}

.pResidence,
.pContact {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.jkl {
  justify-content: space-between;
}

.pResidence span,
.pContact span {
  font-size: 2.5rem;
  font-weight: 300;
}

span.residence {
  font-weight: 800;
}

span.contact {
  font-weight: 800;
}

.hide {
  transform: translateX(120%);
}

.buttons button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 2.5rem;
  font-weight: bold;
}

.dashboard {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100px;
  overflow: hidden;
  background: #212121;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease-in-out;
  z-index: 1;
}

.dashboard:hover {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  background: #212121;
  transition: width 0.2s ease-in-out;
  z-index: 10;
  display: flex;
}

.dashboard:hover .logo {
  width: 100%;
}

.dashboard:hover .dashboardOptions {
  width: 100%;
}

.dashboard:hover .option {
  width: 100%;
}

.dashboard:hover .logo {
  background-image: url("./png/logoWithName.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}

.dashboard:hover .logo img {
  display: none;
}

.dashboard:hover .dashboardOptions {
  width: 100%;
}

.option {
  margin-left: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.option::after {
  content: "";
  position: absolute;
  right: -60px;
  width: 80px;
  height: 40px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.option img {
  width: 27px;
  max-width: 27px;
  margin: 12px;
}

.option:hover {
  background-color: gray;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dashboard:hover .option span {
  color: white;
  opacity: 1;
}

.logo {
  margin-top: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.logo .name {
  font-family: "Neuton", serif;
  letter-spacing: 2px;
  font-size: 3.3rem;
  color: #89d425;
  text-transform: uppercase;
  transform: translateY(-50px);
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.name span {
  font-size: 4rem;
}

.logo .act {
  font-family: "Neuton", serif;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #7e7e7e7e;
  text-transform: uppercase;
  transform: translateY(-80px);
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.logo img {
  height: 80px;
  width: 70px;
  transition: all 0.2s ease-in-out;
}

.dashboardSettings img {
  width: 30px;
}

.option span {
  opacity: 0;
  margin: 10px 0 0 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  width: 100%;
  padding: 5px 0 0 10px;
  font-size: 25px;
  height: 45px;
}

/* Main section settings */
.main-section {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

/* Card settings  */
.card {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
  transition: all 1s ease-in-out;
}

/* User profile navigation */
.navigation {
  display: flex;
  width: 86%;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 30px;
}

.navigation img {
  margin: 0 10px;
  cursor: pointer;
}

/* User profile photo */

.userPhoto {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

/* User profile buttons */

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons .edit {
  background: none;
  border: 3px solid #37dc53;
  color: #37dc53;
}

.buttons .signOut {
  background-color: #37dc53;
  color: #212121;
}

img.leave {
  cursor: pointer;
}



.option {
  width: 50px;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
}

.dashboard-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*Chat now card*/
.chatNow {
  justify-content: start;
}

.chatNow .navigation {
  justify-content: space-between;
}

.advisors {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advisors img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.advisors img:nth-child(1) {
  border: 3px solid green;
}

.advisorProfile .navigation {
  justify-content: space-between;
}

.maximizeChat {
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.maximizeChat.hide {
  transform: translateX(+200%);
}

.maximizedAdvisors {
  right: 60%;
  width: 35%;
  border-radius: 0;
}

/* orange */
.card-cashflow {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.card-cashflow .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.cash {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 1px solid orange;
  border-radius: 30px;
}

.progress-bar.cash {
  width: 35%;
  height: 38px;
  background: #fcbb0a;
  border-radius: 30px;
}

.dashboard-icons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.dashboard-icons i {
  font-size: 30px;
}

.dashboard-background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bar.cash {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: #fcbb0a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.cash.active {
  color: #212121;
  background: #fcbb0a;
}

.dropdown-container.cash {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #fcbb0a;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

/* investments */
.card.investments {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: unset;
  flex-direction: column;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.card.investments .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.invest {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #05b838;
  border-radius: 30px;
  display: flex;
}

.progress-bar.invest {
  width: 35%;
  height: 38px;
  background: #05b838;
  border-radius: 30px;
}


.bar.invest {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.active.invest {
  color: #212121;
  background: green;
}

.dropdown-container.invest {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: green;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

.none {
  display: none !important;
}

/*real estate */
.card.realEstate {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.card.realEstate .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.restate {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #bf1010;
  border-radius: 30px;
  display: flex;
}

.progress-bar.restate {
  width: 35%;
  height: 38px;
  background: #bf1010;
  border-radius: 30px;
}

.bar.restate {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: #bf1010;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.active.restate {
  color: #212121;
  background: #bf1010;
}

.dropdown-container.restate {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #bf1010;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

.card.insurance {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.card.insurance .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.inc {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #0a82d5;
  border-radius: 30px;
  display: flex;
}

.progress-bar.inc {
  width: 35%;
  height: 38px;
  background: #0a82d5;
  border-radius: 30px;
}



.bar.inc {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: #0a82d5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.inc.active {
  color: #212121;
  background: #0a82d5;
}

.active {
  background: #0a82d5;
}

.dropdown-container.inc {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #0a82d5;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

.card.planning {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
  overflow: hidden;
}

.card.planning .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.legal {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  border: 1px solid orangered;
  border-radius: 30px;
  display: flex;
}

.progress-bar.legal {
  width: 35%;
  height: 38px;
  background: orangered;
  border-radius: 30px;
}

.legal-planning {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 10px auto;
}

.legal-text {
  margin: 5px 0;
  color: #cecece;
}



.bar.legal {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.legal.active {
  color: #212121;
  background: orangered;
}

.dropdown-container.legal {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #fcbb0a;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

/* tax plan */
.card.taxplan {
  background-color: #212121;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.card.taxplan .exit {
  width: 27px;
  height: 27px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border.tplan {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: 1px solid #8c57ff;
  border-radius: 30px;
  display: flex;
}

.progress-bar.tplan {
  width: 35%;
  height: 38px;
  background: #8c57ff;
  border-radius: 30px;
}

.tax-planning {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  color: #cecece;
}

.tax-text {
  margin: 5px auto;
  width: 85%;
}



.bar.tplan {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: #8c57ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.tplan.active {
  color: #212121;
  background: #8c57ff;
}

.dropdown-container.tplan {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #8c57ff;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

.settingsProfile,
.settingsDisplay,
.settingInput,
.settingsSecurity {
  background-color: #cecece;
  position: absolute;
  top: 10rem;
  justify-self: flex-start;
  width: 100%;
  height: 140%;
  overflow: hidden;
}

.tabSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  box-shadow: 0 0 20px grey;
}

.progress {
  border: 2px solid #2d4d8f;
  border-radius: 30px;
  height: 50px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.progress span {
  width: 25%;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress.setProf span:nth-child(1) {
  background-color: #2d4d8f;
  color: white;
  width: 25%;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  font-size: 3rem;
}

.info {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.info {
  align-items: flex-start;
}

.photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 60px;
  width: 50%;
}

.photo img {
  border-radius: 50%;
}

span.head {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 100px;
}

.row {
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 5px 50px;
}

.data input {
  width: 350px;
  height: 60px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 2.5rem;
  outline: none;
  border: 1px solid black;
  background: #cecece;
}

span.label {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 10px 0;
}

.data textarea {
  width: 750px;
  height: 120px;
  border-radius: 30px;
  resize: none;
  text-align: left;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 400;
  outline: none;
  border: 1px solid black;
  background: #cecece;
}

.update {
  margin: 50px 100px;
}

.otherSide {
  height: 120vh;
  display: flex;
  width: 30%;
  flex-direction: column;
}

.personalityTest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.personalityTest span {
  font-size: 2.5rem;
  margin: 5px 0;
}

.otherHead {
  font-size: 3rem;
  font-weight: bold;
  margin: 5px 0px;
}

.buttonGroup {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup2 {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup2 span {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card.report {
  background-color: #212121;
  position: absolute;
  top: 0;
  right: 0;
  width: 60rem;
  height: calc(100vh - 10rem);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 11rem 5rem 5.5rem;
  color: #cecece;
}

.composer {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.progress-border {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #0a82d5;
  border-radius: 30px;
  display: flex;
}

.progress-bar {
  width: 35%;
  height: 38px;
  background: #0a82d5;
  border-radius: 30px;
}


.bar {
  width: 33%;
  height: 100%;
  border-radius: 30px;
  color: #0a82d5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.bar.active {
  color: #212121;
  background: #0a82d5;
}

.active {
  background: #0a82d5;
}

.dropdown-container {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: #80808073;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  color: #0a82d5;
  margin: 10px 0;
}

.dropdown-container i {
  transform: rotate(180deg);
  cursor: pointer;
  height: 15px;
  font-size: 23px;
  color: white;
}

.settings-name {
  font-size: 25px;
  color: #cecece;
  margin: 10px 0;
}

.settings-items {
  width: 450px;
}

.settings-items input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  height: 50px;
  padding: 0 30px;
  font-size: 25px;
  color: black;
  border: none;
  box-shadow: 0px 2px 3px black;
}

.settings-check-container {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 22px;
  color: #cecece;
}

.settings-check {
  margin: 10px;
}

.settings-term span {
  color: #37dc53;
}

.settings-submit-container {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: flex-end;
}

.settings-submit {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #37dc53;
  background: #37dc53;
  font-size: 30px;
  box-shadow: 0px 2px 3px black;
}

.settings-term-span {
  color: #37dc53;
}

.progress.setInput span:nth-child(2) {
  background-color: #2d4d8f;
  color: white;
  width: 25%;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  font-size: 3rem;
}

.content {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info {
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
}

.section span {
  font-size: 3rem;
  margin: 0 10px;
}

span.head {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 260px;
}

span.head img {
  transform: translateX(+70px);
}

table {
  font-size: 3rem;
}

table td {
  padding: 0 10px;
}

button {
  width: 350px;
  height: 60px;
  margin: 5px 0;
  border-radius: 30px;
  background-color: #2d4d8f;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  border: none;
  outline: none;
}

.otherSide {
  height: 100vh;
  display: flex;
  width: 30%;
  flex-direction: column;
}

.personalityTest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.personalityTest span {
  font-size: 2.5rem;
  margin: 5px 0;
}

.otherHead {
  font-size: 3rem;
  font-weight: bold;
  margin: 5px 0px;
}

.buttonGroup {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup2 {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup span {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.settingInput {
  height: 100vh;
}

.progress.setting_display span:nth-child(3) {
  background-color: #2d4d8f;
  color: white;
  height: 100%;
  border-radius: 30px;
}

.displaySize {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.displaySize input {
  width: 70%;
}

.progressTwo {
  margin: 0 auto;
  border: 3px solid #2d4d8f;
  border-radius: 30px;
  width: 1200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.progressTwo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.7%;
  height: 100%;
  font-size: 2.2rem;
}

.progressTwo span:nth-child(1) {
  color: white;
  background-color: #2d4d8f;
  border-radius: 30px;
}

.darkScreen {
  margin: 30px auto;
  width: 80%;
  height: 50%;
  background-color: black;
}

.personalityTest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.personalityTest span {
  font-size: 2.5rem;
  margin: 5px 0;
}

.otherHead {
  font-size: 3rem;
  font-weight: bold;
  margin: 5px 0px;
}

.buttonGroup {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup2 {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonGroup span {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.checks input {
  margin: 0 20px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.checks span {
  font-size: 2.5rem;
}

.checks div {
  display: flex;
}

.settingsDisplay {
  background: #cecece;
  height: 144%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.checks {
  width: 25%;
  display: flex;
  margin: 20px 260px;
  align-items: center;
  justify-content: space-between;
}

.forBtn {

  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.forBtn button {
  width: 350px;
  height: 60px;
  margin: 15px 0;
  border-radius: 30px;
  background-color: #2D4D8F;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}

.slider {
  width: 70%;
  margin: 30px 0 0
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 25px;
  background: #cecece;
  border: solid 2px #2D4D8F;
  border-radius: 30px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2D4D8F;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF0000;
  cursor: pointer;
}

.sliderticks {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  font-size: 2.5rem;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.settingsSecurity {
  right: 0;
  height: 175%;
}

.progress.security {
  border: 2px solid #2D4D8F;
  border-radius: 30px;
  height: 50px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.progress.security span {
  width: 25%;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress.security span:nth-child(4) {
  background-color: #2D4D8F;
  color: white;
  width: 25%;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  font-size: 3rem;
}

.settingsSecurity .row {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.settingsSecurity .row input {
  width: 530px;
  height: 60px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 2.5rem;
}

.settingsSecurity button {
  width: 250px;
  height: 60px;
  margin: 50px 100px;
  border-radius: 30px;
  background-color: #2D4D8F;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.top {
  display: flex;
  justify-content: space-around;
}

.left,
.password,
.authentication {
  display: flex;
  flex-direction: column;
}

.authentication span {
  margin: 10px 100px;
  font-size: 3rem;
  color: #212121;
}

.bottom span {
  width: 90%;
  margin: 0 auto;
  font-size: 3rem;
}

span.label {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 10px 0;
}

.settingsSecurity span.head {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 100px;
}

.left,
.right {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
}

.authentication button {
  margin: 25px 100px;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons.security {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons.security button {
  width: 250px;
  margin: 50px 20px;
}

.settingsSecurity .row input {
  background: #cecece;
  outline: none;
  border: 1px solid #212121;
}

.send-report {
  height: 30px;
  font-size: 30px;
  margin: 20px 0;
  color: #cececea3;
}

.first-header {
  text-align: left;
  font-size: 22px;
  color: #ffffff;
}

.first-header th {
  padding: 5px;
}

.first-header td {
  font-size: 20px;
  color: #cecece;
  padding: 5px;
}

.assumbtion {
  justify-content: unset;
  right: 0;
  top: 10rem;
  height: calc(100vh - 10rem);
  position: fixed;
}

.assumbtion-border {
  color: #cecece;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
}

.assumbtion-bar {
  background: #212121;
  color: #cecece;
  width: 33%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.assumbtion-bar.active {
  background: #cecece;
  color: #212121;
}

.set button {
  cursor: pointer;
}

.set .tabSwitch .progress span {
  cursor: pointer;
}